@model int
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>PartyMate</h1>
    <p class="lead">The place with Parties that worth considering... </p>
    @if (!this.User.Identity.IsAuthenticated)
    {
        <p>@Html.ActionLink("Start exploring...", "Register", "Account", null, new { @class = "btn btn-primary btn-lg" })</p>
    }
</div>

<div class="row" id="eventsContainer">
    @Html.AntiForgeryToken()
    <div id="loadingEvents" hidden="hidden" class="text-center">
        <img src="~/Content/defaults/loading.gif" />
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var loading = $("#loadingEvents");
        $(document).ajaxStart(function () {
            loading.show();
        });

        $(document).ajaxStop(function () {
            loading.hide();
        });

        var getEvents = function () {
            $.ajax({
                url: '@Url.Content("~/Event/_EventsPartial?page=" + Model)',
                success: function (data) {
                    $('#eventsContainer').html(data);
                }
            });
        }

        $(document).ready(getEvents);
    </script>
}