
@{
    ViewBag.Title = "Not Authorized";
}

<div class="container">
    <div class="row">
        <div class="text-center">
            <h3>You are not authorized for this page :(</h3>
        </div>
        <div id="site-layout-example-right" class="col s12">
            <div class="row text-center">
                <p>
                    <button onclick="goBack()" class="btn btn-primary">Back</button>
                    <a href="/" class="btn btn-default">Homepage</a>
                </p>
                <h1>403</h1>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function goBack() {
        window.history.back();
    }
</script>